*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: rgb(219, 219, 230);
    min-height: 100vh;
    border :10px solid rgb(10, 10, 217)
}
.contain{
    max-width: 900px;
    margin: 0 auto;

}

.top-section{
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
   
}
.image-container,img{
    border-radius: 50%;   
    overflow: hidden;
   }
   .top-section h1{
      font-size: 50px;
      font-weight: bold;
      color: #1d1e4c;
      text-transform: uppercase;
   }
   .top-section h4{
     text-align:end;
     font-size: 20px;

   }
   .about-section{
    margin: 50px;
   }
   .about-section p{
       font-size: 20px;
       line-height: 30px;
       letter-spacing: 2px;
       text-align: justify;
   }
.image-container,img{
    width: 300px;
    height: 320px;
}
.biography-section{
    margin-top: 50px;
}
.biography-section h3{
    margin-left: 50px;
}
.biography-section ul{
    margin-top: 20px;
    margin-left: 70px;
    
}
.biography-section li{
    letter-spacing: 2px;

}
footer{
    margin :50px 0;
}
footer p{
    text-align:end;
}